*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-image: url('./img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 31rem;
    /* margin: 1rem; */
    overflow: hidden;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}
.left-top, .left-down{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.right-top{
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: bold;
    font-size: .95rem;
}
.right-down{
    display: flex;
    align-items: center;
    gap: .3rem;
    font-weight: bold;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}
.content{
    width: 36rem;
    height: 42rem;
    background-color: rgba(255, 255, 0, .6);
    position: absolute;
    transform: skew(-15deg, 0deg);
    left: 70%;
    z-index: -2;
    text-align: right;
}
.texts{
    width: 25rem;
    margin-top: 20rem;
    font-size: 2.7rem;
    text-align: right;
    font-weight: 600;
}
.number{
    font-size: 3.5rem;
}